# Ignore large compressed sequencing data
*.fastqsanger.gz
*.fastq.gz
*.fq.gz
*.bam
*.bai

# Ignore HTML reports (you will keep only screenshots)
*.html
*.zip

# Keep the trimming summary and specific screenshots
!results/trimming/trimming_summary.txt
!results/**/*.png

# Ignore common system files
.DS_Store
Thumbs.db
__pycache__/
*.pyc